<%- include('../partials/upper.ejs') %>
<style>

    #registerForm{
        border: 1px dashed black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-top: 10px;
        border-radius: 10px;
    }
    #registerForm>input{
        margin: 5px;
        border-radius: 5px;
        text-align: center;
    }

    #submitBtn{
        width: 100px;
        height: 30px;
        background-color: green;
        color: white;
        cursor: pointer;
    }
</style>
<br><br>
    <h1>Registration Page</h1>
    <br><br>   
    <center>
        <form id="registerForm">
            username
            <input name="username" type="text">
            password    
            <input type="password" name="password" type="password">
            email
            <input name="email" type="email">
            <input id="submitBtn" type="submit">
        </form>
    </center>

    <script> 
        let form = document.getElementById('registerForm')
        form.addEventListener('submit',async(e)=>{
            e.preventDefault()
            let username = e.target.username.value
            let password = e.target.password.value 
            let email = e.target.email.value 

            let data = await fetch('/register',{
                method:"POST",
                headers:{"Content-Type":"application/json"},
                body:JSON.stringify({username,password,email})
            })
            let res = await data.json()
            if(res.success){
                return location.href="/"
            }
            else {
                alert(res.message)
            }
        })
    </script>
<%- include('../partials/lower.ejs') %>