<br><br>

    <div id="footer"> 
        <span style="color: white;"> a rudra pratap singh production | &copy; 2022 | <u style="cursor: pointer;" onclick="location.href='/updates'">updates</u> </span>
    </div>
</div>
</center>

<script>
    try{
        let messageBar = document.getElementById('messageBar')
        let messageBar_closeButton = document.getElementById('closeButton')
        messageBar_closeButton.addEventListener('click',()=>{
            messageBar.style.display="none"
        })
    }
    catch(e){
        console.log(e)
    }
</script>
</body>
</html>