<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="/main.css">
    <link rel="shortcut icon" href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia3eRUhmYU2Lc9ihFWLWwBSLauSXhtMeEFJF4Fe8yb89HQQCjNhSupSBZIX6TK1DLB7DBv4XP4f3MVb0Rr_hsR7OBLzsf9d4x40MQoHhIhuzoMEVdkkVOOAAazYFBUtYfZvQyBT0uy72nJOczKhe0QRDiX4i4Vk6J8_s1sOttDTstIRLyWTlWF_zgEhQ/s320/bSocialLogo.PNG" type="image/x-icon">
    <title>beSocial</title>
</head>
<body>
    

    <center>
        
        <div id="mainContainer">
            <div id="navigationBar">
                
                <span style="background-color:rgb(0, 0, 0);height:100%;display:flex;align-items:center;padding:10px;color: white;font-weight: bolder;"> 
                  
                    beSocial</span>
                <button onclick="location.href='/'" >Home</button>
                <form action="/user" id="searchForm">
                    <input name="username" placeholder="search user..." type="text">
                    <button>Search</button>
                </form>

                <% if(typeof isAuthenticated!='undefined' && isAuthenticated) { %>

                    <span style="margin-left: auto;user-select: none; border: 1px solid white;color:white; padding: 5px;cursor: default;background-color: rgb(77, 70, 70); " onclick="location.href='/profile'" > My profile </span>
                    <button onclick="location.href='/createPost'">Create Post</button>
                    <button onclick="location.href='/logout'" >Logout</button>
                    
                <% } else {%>
                <button onclick="location.href='/login'" style="margin-left: auto;">Login</button>
                <button onclick="location.href='/Register'" >Register</button>
                <% } %> 
            </div>
            <% if(typeof message!='undefined' && message){ %>
                <div id="messageBar" style="background:<%= messageBackground %> ">
                    <div id="message" style="margin-left: 40px;">
                        <%= message %>
                    </div>
                    <div id="closeButton" style="margin-left:auto;width: 40px;cursor:pointer;">X</div>
                </div>
            <% } %>
