<%- include('../partials/upper.ejs') %>
    <style>
        #createPostForm{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 300px ;
        }
        ul>li{
            text-align: left;
            
        }

        textarea{
            resize: vertical;
        }
        #submitBtn{
            height: 30px;
            margin-top: 5px;
            cursor: pointer;
            font-size: 20px;
        }
    </style>
<br><br>
    <h1>Create Post</h1>
    <br><br>
   
    <div style="display:flex ; justify-content: space-around;">
        <div style="width:50% ; ">
            <form  action="/uploadPost" method="POST" enctype="multipart/form-data" id="createPostForm">
                <input type="file" name="postPic" id="imageInput">
                <div id="showImage"></div>
                <textarea placeholder="describe your post.. " style="padding:10px ;" name="caption" id="" cols="30" rows="10"></textarea>
                <input id="submitBtn" type="submit" value="Post" style="background-color: green;color:white;">
            </form>
        </div>
        <div style="width: 50%;">
            
                <ul>
                    <li>Post should not contain any obscene image/word/sentence. Failing to this rule, you will be liable for permanent suspension of your account!</li>
                    <li>Image size should be less than 4 MB.</li>
                    <li>Supported images formats are jpeg and png.</li>
                    <li>Post must be accompanied by an image.</li>
                </ul>
            
        </div>
    </div>  
  


    <script>
        document.getElementById('createPostForm').addEventListener('submit',()=>{
            document.getElementById('submitBtn').disabled=true
            document.getElementById('submitBtn').style.cursor="wait"
            document.getElementById('submitBtn').style.background="lightgreen"
            document.getElementById('submitBtn').value="Posting..."
        })
        let imgInput = document.getElementById('imageInput') 
        imgInput.addEventListener('input',()=>{

                getBase64(imgInput.files[0],(val)=>{

                    let imgInsertDiv = document.getElementById('showImage')
                    imgInsertDiv.innerHTML=""
                    let showImg = document.createElement('img')
                    showImg.setAttribute('src',val)
                    showImg.style.width="200px"
                    // showImg.style.height="200px"
                    imgInsertDiv.append(showImg)

            })
        })
    function getBase64(file,cb) {

            try{
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    cb( (reader.result).toString() )
                };
                reader.onerror = function (error) {
                    cb(null)
                }
            }
            catch(e){
                cb(null)
            }

    }
    </script>

<%- include('../partials/lower.ejs') %>